eval "$(/opt/homebrew/bin/brew shellenv)"

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"



# Created by `pipx` on 2023-11-04 03:45:18
# export PATH="$PATH:/Users/vietquocbui/.local/bin"
